*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: gray;
    display: flex;
    height: 50vh;
    justify-content: center;
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    border: 2px solid blue;
    border-radius: 4px;
    padding: 2%;
    width: 50vw;
}

.login-form label {
    display: block;
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 2vh;
}

.login-form input {
    display: block;
    height: 5vh;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 1.4rem;
}

.login-form button {
    background-color: lightgreen;
    color: green;
    border: 2px solid green;
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    display: block;
    height: 5vh;
    margin-top:2vh;
    margin-bottom: 2vh;
    cursor: pointer;
}
